@import "tailwindcss";

:root {
  --background: #050507;
  --foreground: #ffffff;
  --primary: #c175fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@layer utilities {
  .section-title {
    @apply text-[32px] md:text-[40px] lg:text-[78px]  font-semibold 2xl:font-bold mb-6 tracking-tight md:tracking-normal md:leading-[48px] lg:leading-[78px];
  }
  .section-subtitle {
    @apply text-[#FFFFFF]/75 text-[16px] lg:text-lg 2xl:text-xl leading-relaxed;
  }
  .container {
    @apply max-w-7xl mx-auto px-4 md:px-5;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .page-title {
    @apply text-[40px] md:text-[56px] lg:text-[78px]  font-semibold 2xl:font-bold mb-6 leading-tight md:leading-[1.2] xl:leading-[1.1] tracking-tight md:tracking-[-3px] text-white;
  }
  .box-title {
    @apply text-white font-bold lg:text-[56px] md:text-[40px] text-[32px] lg:leading-[66px] md:leading-[48px] leading-[40px];
  }
  .box-subtitle {
    @apply text-[#C175FC]  lg:text-2xl md:text-xl text-xl font-semibold leading-relaxed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.ant-btn {
  box-shadow: none !important;
}

.boxShadow {
  box-shadow: 0px 3px 4px 0px #0000001a;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.glass-box {
  position: relative;
  background: linear-gradient(
    304.65deg,
    rgba(255, 255, 255, 0.05) 13.81%,
    rgba(153, 153, 153, 0.0332332) 33.55%,
    rgba(153, 153, 153, 0.0125) 81.13%
  );
  backdrop-filter: blur(45px);
}

/* .glass-box::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(
    324.32deg,
    rgba(255, 255, 255, 0.15),
    rgba(153, 153, 153, 0.15)
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} */
